@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Droid+Sans:400,700|Open+Sans:400,600,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);
/* CSS Reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}


/* global Styles + Index page Styles */
body
{
    font-size: 17px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

h1
{
    margin-top: 0;
    font-size: 40px;
    font-weight: 400;
    font-family: "Lato",sans-serif;
}

h2
{
    font-size: 30px;
    font-weight: 400;
}

h1,h2
{
    text-align: center;
    font-family: 'lato',sans-serif; 
}

nav
{
    z-index:5;
    position: relative;
    clear: both;
    display: block;
    height: 75px;
    width: 100%;
    background-color: #f6f6f6;
}

nav #topmenu
{
    display: block;
    width: 700px;
    margin: 0 auto; 
    padding-top: 50px;
}

nav a
{
    text-decoration: none;
    font-family: 'Open sans',sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #000;
    margin-right: 30px;
    margin-left: 30px;
}

#logoutbtn
{
     z-index:10;
    position: fixed;
    top: 5px;
    right: 5px;
    text-decoration: none;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    font-size: 15px;
}

header
{
    z-index:3;
    clear: both;
    height: 250px;
    background-color: #4D4D4D; 
}

main
{
    clear: both;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 960px;
}

.col23
{
    width: 60%;
}

.col13
{
    width: 30%;
}

.col13, .col23
{
    height: 250px;
    background-color: #E6E6E6;
    margin-bottom: 40px;
    display: block;
    margin: 2%;
    font-family: "Open sans",sans-serif;
    font-weight: 600;
}

.fl
{
    float: left;
}

.fr
{
    float: right;
}

.col23 p
{
    margin-top: 15px;
    margin-left: 10px;
}

#boxhome
{
    height: 576px;
    height: 250px;
    background: url('../img/mountain1.png') no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}

#boxhome a
{
    display: block;
    margin: 0 auto;
    margin-top: 150px;
    width: 30%;
    height: 45px;
    background-color: #F17F56;
    text-decoration: none;
}

#boxhome #joinbtn
{
    color: #fff;
    text-align: center;
    padding-top: 10px;
}

.col13 form ul
{
    width: 100%;
    
}

.col13 ul li
{
    list-style: none;
    width: 100% ;
}

.col13 ul li input
{
    clear: both;
    display: block;
    width: 200px;
    height: 37px;
    margin: 0 auto;
    outline: 0;
}

.col13 ul li input#name
{
    margin-top:40px;
}

.col13 ul li input#pass
{
    margin-top: 21px;
}

.col13 ul li input[type='submit']
{
    
    width: 200px;
    height: 45px;
    margin-top: 30px;
    background-color: #5BCAF4;
    border: none;
    color: #fff;
}

#section2 .col13
{
    background: none;
    height: 90px;
}


a #registerbtn
{
    display: block;
    width: 100%;
    height: 90px;
    background-color: #F17F56;

}

#registerbtn
{
    color: #fff;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}

#registerbtn span
{
    display: block;
    padding-top: 10%;
    
}

main #nobg
{
    height: 90px;
}

main #nobg a
{
    text-decoration: none;
}

#worldmap
{
    margin-top: 50px;
}

footer
{   
    z-index: 4;
    clear: both;
    display: relative;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: #4D4D4D;
}

#worldmap .col1
{
    width: 230px;
    height: 210px;
    background-color: #4D4D4D;
    margin-bottom: 28px;
}

#worldmap .col2
{
    width: 580px;
    height: 686px;
    background-color: #4D4D4D;
}

#worldmap .col12
{
    width: 230px;
    height: 448px;;
    background-color: #4D4D4D;
    margin-bottom: 100px;
}

#worldmap2 
{
    margin-top: 10px;
    display: block;
}



#worldmap2 img
{
    margin-left: 70px;
    float: left;

}

#worldmap2 #userinfo
{   
    float: left;
    height: 75px;
    width: 270px;
    background-color: #4D4D4D;
    margin-left: 20px;
    margin-top: 70px;
    margin-bottom: 30px;
}

#worldmap2 #map
{
    height: 630px;
    width: 740px;
    background-color: #4D4D4D;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 60px;
}



/*//////////////////////////*/

a#login_pop:hover, a#join_pop:hover 
{
    border-color: #eee;
}
.overlay 
{
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.overlay:target 
{
    visibility: visible;
    opacity: 1;
}

.popup {
    background-color: #f2f2f2;
    border: 3px solid #fff;
    display: inline-block;
    left: 50%;
    opacity: 0;
    width: 600px;
    height: 600px;
    padding: 20px;
    position: fixed;
    text-align:justify;
    top: 40%;
    visibility: hidden;
    z-index: 10;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;

   

    -webkit-transition: opacity .5s, top .5s;
    -moz-transition: opacity .5s, top .5s;
    -ms-transition: opacity .5s, top .5s;
    -o-transition: opacity .5s, top .5s;
    transition: opacity .5s, top .5s;
}

.overlay:target+.popup 
{
    top: 50%;
    opacity: 1;
    visibility: visible;
}

.close 
{
    background-color: rgba(0, 0, 0, 0.8);
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 5px;;
    text-align: center;
    text-decoration: none;
    top: 5px;
    width: 30px;

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}

.close:before 
{
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-size: 22px;
    font-family: "Lato",sans-serif;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}

.close:hover 
{
    background-color: rgba(64, 128, 128, 0.8);
}

.popup form
{
    text-align: left;
    margin-top: 25px;
}

.popup form ul
{
    display: block;
    margin: 0 auto;
    width: 60%;
}
.popup form ul li
{
    list-style: none;
    width: 100% ;
}


.popup form ul li label
{
    padding: 8px;
    font-family: "Open Sans",sans-serif;
    text-transform:uppercase;
}

.popup input[type="text"], .popup input[type="password"], .popup input[type="email"] 
{
    display: block;
    margin: 0 auto;
    border: 1px solid;
    border-color: #999 #ccc #ccc;
    width: 350px;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 15px;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.popup input[type="text"]:hover, .popup input[type="password"]:hover, .popup input[type="email"]:hover 
{
    border-color: #555 #888 #888;
}

.popup form ul li input[type='submit']
{
    
    width: 150px;
    height: 45px;
    margin-top: 35px;
    background-color: #F17F56;
    border: none;
    color: #fff;
    margin-left: 60%;
}

.popup form ul li .g-recaptcha
{
    padding: 5px;
}

.popup #registernowpop
{
    margin-top: 5px;
    margin-bottom: 15px;
}

#explore
{
    margin-bottom: 50px;
}

#map
{
    height: 615px;
    width: 640px;
    display: block;
    margin: 0 auto;
    background-image: url(../img/map.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 80px;
    margin-bottom: 80px;
}

section.sidebar {
  
  z-index: 1;
  width: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #f6f6f6;
}

section.main 
{ 
    margin-left: 250px; 
    height: 700px;
    margin-bottom: 100px;
}

#topsidebar
{
    margin-top: 180px;
    text-align: center;
    font-family: "Open sans",sans-serif;
}

#topsidebar #charactername
{
    font-weight: 700;
    font-size: 25px;
    padding: 8px;
}

#topsidebar #playerlevel
{
    font-weight: 300;
}

#character
{
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    
}

#stats
{
    display: block;
    margin: 0 auto;
    margin-top: 16px;
}

#items
{
    text-align: center;
    height: 40px;
    margin-top: 30px;
}

#time
{
    display: block;
    text-align: center;
    height: 30px;
    width: 48%;
    margin: 0 auto;
    margin-top: 30px;
}

#time #clock
{
    float: left;
}
#time #mins
{
    float: right;
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    padding: 7px;
    font-size: 15px;
}

#box1
{
    display: block;
    width: 620px;
    margin: 0 auto;
    height: 216px;
    background-color: #def4fd;
    margin-top: 105px;
    
}

#box1 #headbox1
{
    height: 52px;
    background-color: #5bcaf4;
    color: #fff;
    font-size: 20px;
}

.boxtitle
{
    font-family: "Lato",sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 16px;
    color: #fff;
}

#box1 ul
{
    margin-top: 15px;
    padding-right: 10px;
    padding-left: 15px;
}

#box1 ul li
{
    padding: 5px;
    font-family: "Open sans",sans-serif;
    font-size: 16px;
}

#box21
{
    width: 300px;
    height: 210px;
    display: block;
    float: left;
    background-color: #fcddda;
    margin-right: 10px;
}

#box21 #headbox21
{
    display: block;
    width: 100%;
    height: 52px;
    background-color: #f05544;
}

#box22
{
    width: 300px;
    height: 210px;
    display: block;
    float: left;
    background-color: #fff3d1;
    margin-left: 10px;
}

#box22 #headbox22
{
    display: block;
    width: 100%;
    height: 52px;
    background-color: #ffc41a;
}

#mainbox2
{
    display: block;
    margin: 0 auto;
    width: 620px;
    height: 52px;
    margin-top: 20px;
}

#mainbox3
{
    clear: both;
    margin: 0 auto;
    width: 620px;
    height: 52px;
}

#mainbox3 .boxbtn
{
    margin-top: 70px;

}
#mainbox3 .boxbtn,#mainbox4 .boxbtn
{
    width: 300px;
    height: 52px; 
}

#boxbtn1
{
    background-color: #ff9c39;
    float: left;

}

#boxbtn2
{
    background-color: #bdf271;
    float: right;

}

#mainbox4
{
    clear: both;
    margin: 0 auto;
    width: 620px;
    height: 52px;
}
#mainbox4 .boxbtn
{
    margin-top: 25px;

}

#boxbtn3
{
    background-color: #aad8b0;
    float: left;
}

#boxbtn4
{
    background-color: #6a78b9;
    float: right;
}

#acc-settings
{
    display: block;
    height: 600px;
    margin: 0 auto;
}

#acc-settings form
{
    display: block;
    margin: 0 auto;
}

#acc-settings ul
{
    display: block;
    width: 100%;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
}

#acc-settings ul li
{
    display: inline-block;
    width: 100%;
   text-align: center;
    padding: 10px;
}

#acc-settings ul li label
{
    display: block;
    padding: 5px;
    
}

#emaildiv
{
    display: block;
    width: 479px;
    float: left;
    border-right: solid 1px #000;
    margin-top: 30px;
}

#passdiv
{
    display: block;
    width: 479px;
    float: right;
    border-left: solid 1px #000;
        margin-top: 30px;
}

#shop #categories
{
    width: 30%;
    height: 300px;
    background-color: #f6f6f6;
    float: left;
}

#shop #categories ul
{
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
}

#shop #categories ul li
{
    padding: 5px;
    list-style:circle;
}

#shop #categories ul li a
{
    text-decoration: none;
    color: #00153b;
    padding: 2px;
}

#shop #main
{
    width: 60%;
    height: 500px;
    float: right;
    background-color: #f6f6f6;
    margin-bottom: 50px;
}

#shop #main td
{
    width: 33.33%;
    
}

#shop #main td img
{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

#shop #main td h4
{
    font-family: "Open sans",sans-serif;
    font-weight: 600;
    text-align: center;
    padding: 15px;
}

#shop #main td p
{
    text-align: center;
    font-family: "Lato",sans-serif;
}

#shop #main td #buy
{
    text-decoration: none;
    display: block; 
    margin: 0 auto;
    width: 30%; 
    height: 30px; 
    background-color: #F17F56; 
    text-decoration: none;  
    margin-top: 15px;
}

#shop #main td #buy p
{
    color: #fff;
    font-size: 15px;
    padding: 7.5px;
}


@media screen and (max-width: 640px)
{
    
    nav
    {
        height: 45px;
    }

    nav #topmenu
    {
        width: 640px;
        margin: 0 auto; 
        padding-top: 10px;
        text-align: center;
    }

    nav a
    {
        font-weight: 400;
        font-size: 12px;
        margin-right: 10px;
        margin-left: 10px;
    }

    #logoutbtn
    {
        font-weight: 400;
        font-size: 12px;
    }

    header
    {
        height: 150px;
    }

    main
    {  
        margin-top: 20px;
        width: 600px;
    }

    .col13
    {
        height: 180px;    
    }
 
    
    .col13, .col23
    {
        float: none;
        clear: both;
        margin-bottom: 30px;
        margin: 1%;
        width: 80%;
        display: block;
        margin: 0 auto;
    }


    a #registerbtn
    {
        height: 70px;
        margin-top: 15px;
    }

    #registerbtn span
    {
        padding-top: 5%;
    }

    #map
    {
        height: 400px;
        width: 400px;
        margin-top: 5px;
    }

    section.sidebar 
    {
        width: 150px;
    }

    section.main 
    { 
        margin-left: 150px; 
        height: 500px;
        margin-bottom: 180px;
    }

    #topsidebar
    {
        margin-top: 90px;
    }

    #topsidebar #charactername
    {
        font-weight:600;
        font-size: 20px;
        padding: 3px;
    }

    #character
    {
        margin-top: 20px;
    }

    #stats
    {
        margin-top: 10px;
    }

    #items
    {
        margin-top: 20px;
    }

    #time
    {
        margin-top: 30px;
        display: block;
    }

    #time #mins
    {
        font-weight: 400;
        padding: 2px;
        font-size: 12px;
        text-align: center;
    }
    
    #box1
    {
        width: 440px;
        height: 200px;
        margin-top: 50px;
    }

    #box21
    {
        width: 210px;
        height: 200px;
    }

    #box22
    {
        width: 210px;
        height: 200px;
    }

    #mainbox2
    {
        width: 440px;
        margin-top: 20px;
    }

    #mainbox3
    {
        width: 440px;
    }

    #mainbox3 .boxbtn
    {
        margin-top: 30px;

    }
    #mainbox3 .boxbtn,#mainbox4 .boxbtn
    {
        width: 210px;
        height: 40px; 
    }

    #mainbox4
    {
        width: 440px;
        height: 52px;
    }
    #mainbox4 .boxbtn
    {
        margin-top: 10px;

    }

    .popup {

        width: 450px;
        height: 550px;
        padding: 10px;
    }

    .popup form
    {
        text-align: left;
        margin-top: 20px;
    }


    .popup form ul li label
    {
        padding: 4px;

    }

    .popup input[type="text"], .popup input[type="password"], .popup input[type="email"] 
    {
        width: 300px;
        height: 30px;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    .popup form ul li input[type='submit']
    {

        width: 120px;
        height: 40px;
        margin-top: 30px;
        margin-left: 70%;
    }


    .popup #registernowpop
    {
        margin-top: 5px;
        margin-bottom: 25px;
    }
        
}
